body {
  font-family: helvetica;
  margin: 0;
  background-color: white;
  color: black;
}

/* nav bar */
header {
  position: sticky;
  background-color: black;
  align-content: start;
  width: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

nav a,
nav a:visited {
  color: rgb(200, 106, 255);
  text-decoration: none;
  background-color: rgb(44, 44, 44);
  padding: 7px 12px;
  border-radius: 10px;
  font-weight: bold;
}

nav a:hover {
  color: rgb(162, 60, 220);
}

.navname {
  color: rgb(233, 141, 244);
  margin-left: 1%;
  margin-right: 55%;
  font-weight: bold;
}

.navlink {
  margin-left: 2%;
}
