/* global */
html,
body {
  font-family: helvetica;
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgb(0, 0, 0);
}

main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 28%;
  width: auto;
  padding-top: 55px;
  box-shadow: inset 0 0 0 1000px rgb(237, 230, 223),
    0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

h1,
h3 {
  justify-content: flex-start;
  flex-shrink: 0;
  margin-left: 5%;
  width: 95%;
}

h1 {
  font-weight: bold;
  font-size: 56px;
}

h3 {
  font-weight: lighter;
  font-size: 30px;
}

div a,
div a:visited {
  text-decoration: none;
  font-weight: bold;
  color: rgb(86, 86, 86);
}

div a:hover {
  color: black;
}

div ul {
  list-style: none;
}

/* index.html */
.home-p1 {
  margin-left: 5%;
  padding-top: 100px;
  width: 20%;
  font-size: 19px;
  text-align: left;
}

.home-image {
  height: 25vh;
  border-radius: 8px;
  flex-direction: row;
  justify-content: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  margin-left: 150px;
  margin-top: 120px;
}

/* Portfolio */
.portfolio {
  justify-content: flex-start;
  align-items: center;
}

.portfolio h1 {
  margin-top: 5%;
  font-size: 65px;
}

.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10%;
  margin-left: 2.5%;
}

.portfolio ul li,
.portfolio ul p1 {
  width: 100%;
}

.portfolio ul p1 {
  margin-top: 10px;
  margin-bottom: 50px;
}

.portfolio ul li {
  background-color: rgb(237, 230, 223);
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* About */
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.about p1 {
  padding-left: 5%;
}

.about p1,
.about h3 {
  width: 600px;
  margin-top: 200px;
}

/* Contact */
.contact h1,
.contact p1 {
  margin: 0;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

form {
  padding: 2rem;
}
