body {
  font-family: helvetica;
}

card {
  color: rgb(237, 230, 223);
}

main div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
}

main div ul {
  list-style: none;
}

main div ul a {
  text-decoration: none;
  color: black;
}

/* About */
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.about p1 {
  padding-left: 5%;
}

.about p1,
.about h3 {
  width: 600px;
  margin-top: 200px;
}

/* Contact */
form {
  padding: 4rem;
}
