body {
  font-family: helvetica;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card-title,
.card-subtitle {
  padding-left: 4rem;
}

.main-child-img {
  max-width: 35rem;
}

.main-child-p {
  font-size: 1.3rem;
  max-width: 30rem;
}

.card-img-top {
  max-width: 45rem;
}

main div ul {
  list-style: none;
}

/* Contact */
form {
  padding: 4rem;
}
